.contents {
  display: flex;
}

.content {
  background-color: orange;
  width: 70%;
  color: white;
  text-align: center;
  padding: 150px 0;
}

.sidebar {
  background-color: green;
  width: 30%;
  color: white;
  text-align: center;
  padding: 150px 0;
}
